<section class="section-about-restaurant-two">
    <div class="container">
        <div class="about-restaurant-two">
            <div class="text-two">
                <p class="text-restaurant-two">Amet minim mollit non</p>
                <h2 class="title-about-restaurant-two">MIMIHO</h2>
                <p class="text-about-restaurant-two">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                    amet.</p>
            </div>
            <div class="photo-restaurant-two">
                <picture>
                    <source
                        srcset="./images/desktop/main-page/about_rest_desk@1x.jpg 1x, ./images/desktop/main-page/about_rest_desk@2x.jpg 2x"
                        sizes="400px" media="(min-width:1280px)">
                    <source
                        srcset="./images/tab/main-page/about_rest_tab@1x.jpg 1x, ./images/tab/main-page/about_rest_tab@2x.jpg 2x"
                        sizes="400px" media="(min-width:1024px)">
                    <img class=""
                        srcset="./images/mobile/restoraunt/kitchen_mob@1x.jpg 1x, ./images/mobile/restoraunt/kitchen_mob@2x.jpg 2x"
                        src="./images/mobile/restoraunt/kitchen_mob@1x.jpg" alt="restaurant" sizes="244px">
                </picture>

            </div>
        </div>

        <ul class="img-about-restuarant-two">
            <li class="photo-about-restaurant-two">
                <picture class="photo-two">
                    <source
                        srcset="./images/desktop/main-page/about_rest1_desk.jpg 1x, ./images/desktop/main-page/about_rest1_desk@2x.jpg 2x"
                        sizes="400px" media="(min-width:1280px)">
                    <source
                        srcset="./images/tab/main-page/about_rest1_tab@1x.jpg 1x, ./images/tab/main-page/about_rest1_tab@2x.jpg 2x"
                        sizes="400px" media="(min-width:1024px)">
                    <img class=""
                        srcset="./images/mobile/restoraunt/kitchen1_mob.jpg 1x, ./images/mobile/restoraunt/kitchen1_mob@2x.jpg 2x"
                        src="./images/mobile/restoraunt/kitchen1_mob.jpg" alt="restaurant" sizes="244px">
                </picture>
                <p class="right-text-two">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
        </ul>
    </div>
</section>