<section class="section-about-restaurant-two">
    <div class="container">
        <div class="about-restaurant-two">
            <div class="text-two">
                <p class="text-restaurant-two">Amet minim mollit non</p>
                <h2 class="title-about-restaurant-two">MIMIHO</h2>
                <p class="text-about-restaurant-two">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                    amet.</p>
            </div>
            <div class="photo-restaurant-two">
                <picture>
                    <source
                        srcset="./images/desktop/restaurant-page/kitchen_desk@1x.jpg 1x,./images/desktop/restaurant-page/kitchen_desk@2x.jpg 2x"
                        sizes="460px" media="(min-width:1280px)">
                    <source
                        srcset="./images/tab/restoran-page/kitchen_tab@1x.jpg 1x, ./images/tab/restoran-page/kitchen_tab@2x.jpg 2x"
                        sizes="400px" media="(min-width:1024px)">
                    <img class="photo-rest"
                        srcset="./images/mobile/restoraunt/kitchen_mob@1x.jpg 1x, ./images/mobile/restoraunt/kitchen_mob@2x.jpg 2x"
                        src="./images/mobile/restoraunt/kitchen_mob@1x.jpg" alt="restaurant" sizes="244px">
                </picture>

            </div>
        </div>

        <ul class="img-about-restuarant-two">
            <li class="photo-about-restaurant-two">
                <picture class="photo-two">
                    <source
                        srcset="./images/desktop/restaurant-page/kitchen1_desk.jpg 1x, ./images/desktop/restaurant-page/kitchen1_desk@2x.jpg 2x"
                        sizes="460px" media="(min-width:1280px)">
                    <source
                        srcset="./images/tab/restoran-page/kitchen1_tab.jpg 1x, ./images/tab/restoran-page/kitchen1_tab@2x.jpg 2x"
                        sizes="350px" media="(min-width:1024px)">
                    <img class="photo-rest"
                        srcset="./images/mobile/restoraunt/kitchen1_mob.jpg 1x, ./images/mobile/restoraunt/kitchen1_mob@2x.jpg 2x"
                        src="./images/mobile/restoraunt/kitchen1_mob.jpg" alt="restaurant" sizes="244px">
                </picture>
                <p class="right-text-two">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
        </ul>
        <!-- _____SWIPER_____ -->

        <div class="about-restaurant__swiper ">
            <div class="swiper1 swiper__main swiper__container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <picture>

                            <source
                                srcset="./images/desktop/restaurant-page/rest_hands_desk@1x.jpg 1x, ./images/desktop/restaurant-page/rest_hands_desk@2x.jpg 2x"
                                media="(min-width: 1280px)," 
                                sizes="254px"/>

                            <source
                                srcset="./images/tab/restoran-page/rest_hands_tab@1x.jpg 1x, ./images/tab/restoran-page/rest_hands_tab@2x.jpg 2x"
                                media="(min-width: 1024px)," 
                                sizes="194px"/>

                            <source
                                srcset="./images/slider/mobile/rest+/rest_hands_mob@1x.jpg 1x, ./images/slider/mobile/rest+/rest_hands_mob@2x.jpg 2x"
                                media="(max-width: 1023px),"
                                sizes="245px" />

                            <img src="./images/slider/mobile/rest+/rest_hands_mob@1x.jpg" alt="glass">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>

                            <source
                                srcset="./images/desktop/restaurant-page/rest_khinkali_desk@1x.jpg 1x, ./images/desktop/restaurant-page/rest_khinkali_desk@2x.jpg 2x"
                                media="(min-width: 1280px)," 
                                sizes="254px"/>

                            <source
                                srcset="./images/tab/restoran-page/rest_khinkali_tab@1x.jpg 1x, ./images/tab/restoran-page/rest_khinkali_tab@2x.jpg 2x"
                                media="(min-width: 1024px)," 
                                sizes="194px"/>

                            <source
                                srcset="./images/tab/restoran-page/rest_khinkali_tab@1x.jpg 1x, ./images/tab/restoran-page/rest_khinkali_tab@2x.jpg 2x"
                                media="(max-width: 1023px),"
                                sizes="245px"  />

                            <img src="./images/desktop/main-page/about_rest_table_desk@1x.jpg" alt="rest-chairs">
                        </picture>
                    </div>
                    
                </div>

            </div>

        </div>
        <div class="slider__arrows">
            <div class="s-button-prev">
                <svg width="32" height="32">
                    <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
                </svg>
            </div>
            <div class="s-button-next">
                <svg width="32" height="32">
                    <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                </svg>
            </div>
        </div>

        <!-- _____SWIPER_END_____ -->
    </div>
</section>