<!--Menu Restaurant-->
<section class="restaurant-menu-section">
    <div class="restaurant-menu-container container">

        <h2 class="font-title restaurant-menu-title">МЕНЮ РЕСТОРАНУ</h2>

        <p class="font-title restaurant-menu-name">Гарячі страви</p>
        <table class="restaurant-menu-table">
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position">Борщ з телятини з квасолею</p>
                    <p class="restaurant-menu-composition">Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                        помідори, зелень, сметана</p>
                </td>
                <td class="restaurant-menu-cell">400 г</td>
                <td class="restaurant-menu-cell">240 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Суп сирний з куркою</p>
                    <p class="restaurant-menu-composition">Курятина, картопля, морква, цибуля, печериці, сир м’який,
                        зелень</p>
                </td>
                <td class="restaurant-menu-cell">400 г</td>
                <td class="restaurant-menu-cell">200 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Паста карбонара</p>
                    <p class="restaurant-menu-composition">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                    </p>
                </td>
                <td class="restaurant-menu-cell">350 г</td>
                <td class="restaurant-menu-cell">430 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Стейк зі свинини</p>
                    <p class="restaurant-menu-composition">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                        овочами</p>
                </td>
                <td class="restaurant-menu-cell">400 г</td>
                <td class="restaurant-menu-cell">500 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Горбуша в соусі з білого вина</p>
                    <p class="restaurant-menu-composition">Ніжна горбуша, вершковий соус на основі білого вина</p>
                </td>
                <td class="restaurant-menu-cell">400 г</td>
                <td class="restaurant-menu-cell">400 грн</td>
            </tr>
        </table>

        <p class="font-title restaurant-menu-name">Гарніри та закуски</p>
        <table class="restaurant-menu-table">
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position">Запечені овочі</p>
                    <p class="restaurant-menu-composition">Кабачок, перець, помідор, баклажан</p>
                </td>
                <td class="restaurant-menu-cell">200 г</td>
                <td class="restaurant-menu-cell">230 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Картопля фрі</p>
                    <p class="restaurant-menu-composition">Картопля, соус томатний</p>
                </td>
                <td class="restaurant-menu-cell">150 г</td>
                <td class="restaurant-menu-cell">160 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Картопля по-селянськи</p>
                    <p class="restaurant-menu-composition">Картопля, спеції, соус пікантний</p>
                </td>
                <td class="restaurant-menu-cell">150 г</td>
                <td class="restaurant-menu-cell">160 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Хрумкі соління з бочки</p>
                    <p class="restaurant-menu-composition">Огірок солений, помідор квашений, квашена капуста, морква
                        по-корейські</p>
                </td>
                <td class="restaurant-menu-cell">250 г</td>
                <td class="restaurant-menu-cell">350 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Крильця курячі в медовому соусі</p>
                    <p class="restaurant-menu-composition">Крильця курячі, гірчично-медовий соус, подається з морквою,
                        селерою і соусом блючиз</p>
                </td>
                <td class="restaurant-menu-cell">400 г</td>
                <td class="restaurant-menu-cell">420 грн</td>
            </tr>
        </table>

        <p class="font-title restaurant-menu-name">Салати</p>
        <table class="restaurant-menu-table">
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position">Цезар з куркою</p>
                    <p class="restaurant-menu-composition">Куряче філе, листя салату, помідори чері, сир пармезан,
                        грінки, соус цезар</p>
                </td>
                <td class="restaurant-menu-cell">230 г</td>
                <td class="restaurant-menu-cell">450 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Цезар з креветками</p>
                    <p class="restaurant-menu-composition">Тигрові креветки, листя салату, помідори чері, сир пармезан,
                        грінки, соус цезар</p>
                </td>
                <td class="restaurant-menu-cell">230 г</td>
                <td class="restaurant-menu-cell">300 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Грецький салат</p>
                    <p class="restaurant-menu-composition">Свіжі огірок, помідор, болгарський перець, оливки, сир
                        бринза, листя салату, соус</p>
                </td>
                <td class="restaurant-menu-cell">230 г</td>
                <td class="restaurant-menu-cell">280 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">М’ясний салат</p>
                    <p class="restaurant-menu-composition">Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                        болгарський перець, соус ранч</p>
                </td>
                <td class="restaurant-menu-cell">230 г</td>
                <td class="restaurant-menu-cell">300 грн</td>
            </tr>
        </table>

        <p class="font-title restaurant-menu-name">Десерти</p>
        <table class="restaurant-menu-table">
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position">Торт наполеон</p>
                </td>
                <td class="restaurant-menu-cell">230 г</td>
                <td class="restaurant-menu-cell">300 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Торт маковий</p>
                </td>
                <td class="restaurant-menu-cell">230 г</td>
                <td class="restaurant-menu-cell">300 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Тірамісу</p>
                </td>
                <td class="restaurant-menu-cell">120 г</td>
                <td class="restaurant-menu-cell">260 грн</td>
            </tr>
        </table>

        <p class="font-title restaurant-menu-name">Напої</p>
        <table class="restaurant-menu-table">
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position">Чай чорний/зелений</p>
                </td>
                <td class="restaurant-menu-cell">500 мл</td>
                <td class="restaurant-menu-cell">100 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Еспресо</p>
                </td>
                <td class="restaurant-menu-cell">30 мл</td>
                <td class="restaurant-menu-cell">100 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Американо</p>
                </td>
                <td class="restaurant-menu-cell">150 мл</td>
                <td class="restaurant-menu-cell">100 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Капучино</p>
                </td>
                <td class="restaurant-menu-cell">200 мл</td>
                <td class="restaurant-menu-cell">160 грн</td>
            </tr>
            <tr class="restaurant-menu-row">
                <td class="restaurant-menu-cell">
                    <p class="restaurant-menu-position item-margin">Лате</p>
                </td>
                <td class="restaurant-menu-cell">200 мл</td>
                <td class="restaurant-menu-cell">160 грн</td>
            </tr>
        </table>

        <button type="button" 
        class="restaurant-button-style js-open-modal" 
        data-modal="2">
        Забронювати столик
    </button>
    </div>
</section>