header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    min-width: 320px;
}

.header__container {

    display: flex;
    align-items: flex-end;
}

.header__logo {
    margin-top: 16px;
    display: block;
    font-family: "Film P3";
    font-size: 36px;
    font-weight: 700;
    line-height: calc(36/38.72);
    letter-spacing: 0.3em;
    text-decoration: none;
    color: var(--logo-theme-dark);
    margin-right: auto;
}

.header__nav-list {
    display: flex;
  
}

.header__nav-icon {
    display: flex;
}

.header__tel-text {
    display: none;
}

.header__nav-link {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: calc(19.5/16);
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-right: 6px;
    align-self: baseline;
}


.header__nav-items {
    display: flex;
    align-items: center;
}

.header__nav-items {
    margin-right: 20px;
}
@media screen and (max-width:413px){
    .header__nav-items {
            margin-right: auto;
        }
    .header__logo {
        letter-spacing: 0.15em;
    }
    .header__nav-link {
        margin-right: 0;
    }
}
.header__nav-items:nth-child(2n) {
    margin-right: 0;
}

