@import './common/fonts';
@import './common/base';
@import './common/vars';
@import './header';
@import './homepage/hero';
@import './homepage/about-restaurant';
@import './homepage/details-restaurant';
@import './homepage/about-hotel';
@import './homepage/details-hotel';
@import './homepage/contacts';
@import './footer';
@import './modal_windows';
