.section-about-hotel{
    background: #FFFDEE;
    }

    @media screen and (min-width: 1024px){
        .section-about-hotel{
            padding-bottom: 260px; 
        }    
        }
        @media screen and (min-width: 1280px){
            .section-about-hotel{
            padding-bottom: 225px;     
            }    
            }


    @media screen and (min-width: 1024px){
        .img-hotel-room{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0;
        
        }
    }
    .section-about-hotel{

    }

    
    .text-restaurant{
    padding-top: 16px;
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B4B4B4;
    margin-bottom: 12px;    
    }

    @media screen and (min-width: 1024px) {
        .text-restaurant{
            font-family: 'Times New Roman';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 37px;    
        }    
        }
    .title-about-restaurant{
    font-family: 'Film P3';    
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #494848;
    margin: 0px;
    padding: 0px; 
    margin-bottom: 12px;

    width: 127px;
    height: 43px;
    letter-spacing: 0.3em;
    }
    @media screen and (min-width: 1024px){
        .title-about-restaurant{
         font-family: 'Film P3';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 69px;
        width: 202px;
        height: 69px;
        letter-spacing: 0.3em;
        
        color: #494848;
    }    
}
    .text-about-hotel{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    margin-bottom: 28px;
    
    color: #7A7A7A;
    
    width: 258px;
    height: 76px;
    }

    @media screen and (min-width: 1024px){
    .text-about-hotel{
        font-size: 16px;
        line-height: 20px;
        width: 419px;
        height: 80px;    
    }    
    }
    
    .photo-about-restaurant{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    }

.img-hotel{

margin-bottom: 32px   
}
@media screen and (min-width: 1024px){
.img-hotel{
    margin: 0;
    margin-left: 65px;
transform: translateY(-32px);    
}
}
@media screen and (min-width: 1280px){
    .img-hotel{
        margin-left: 95px;
    transform: translateY(-33px);    
    }
    }

    .left-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;

        color: #C79002;
        padding-right: 21px;
        width: 163px;
        height: 120px;    
    }
    @media screen and (min-width: 1024px){
    .left-text{   
    width: 312px;
    height: 122px;
    font-size: 16px;
line-height: 20px; 
padding-right: 48px;   
    }
    } 
        
    .about-hotel{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    } 
    @media screen and (min-width: 1024px){
    .about-hotel{
    margin-top: 120px;    
    }    
    }
    .img-about-hotel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
        margin: 0px;
    }
    @media screen and (min-width: 1024px){
    .img-about-hotel{
        justify-content: flex-end;      
    }    
    }  
    .photo-about-hotel{
    margin: 0;  
    }
    @media screen and (min-width: 1024px){
    .photo-about-hotel{
    margin-top: -45px;    
    }    
    } 
    @media screen and (min-width: 1024px){
        .photo-about-hotel{
        margin-top: -65px;    
        }    
        } 


        .photo-rest{
            box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
            border-radius: 2px;     
        }
