.about-restaurant{
    background: #FFFDEE;
    
    }
    .text-restaurant{
    padding-top: 16px;
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B4B4B4;
    margin-bottom: 12px;    
    }
    .title-about-restaurant{
    font-family: 'Film P3';    
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    color: #494848;
    margin: 0px;
    padding: 0px; 
    margin-bottom: 12px;

    width: 127px;
    height: 43px;
    letter-spacing: 0.3em;
    }
    .text-about-hotel{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    margin-bottom: 28px;
    
    color: #7A7A7A;
    
    width: 258px;
    height: 76px;
    }
    .img-about-restuarant{
    display: flex;  
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    margin: 0;  
    }
    .photo-about-restaurant{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    }
    .right-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;

        color: #C79002;
        padding-left: 20px;
    }
    .left-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;

        color: #C79002;
        padding-right: 21px;
        width: 163px;
        height: 120px;    
    }
    .img-about-restuarant{
    display: flex;    
    }
    .about-hotel{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    } 
    .img-about-hotel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
        margin: 0px;
    }  
    .photo-about-hotel{
      
    } 