//============= MOBILE VERSION ===============================================================

// styles only for mobile

@media screen and (max-width: 413.98px){   //для телефонів які меньше ніж 414px по ширині, переносимо контактні телефони в стовбчик, якщо їх два
    .contacts-section-phones-ul-li-numbers{
        flex-direction: column;
    }
    .contacts-section-phones-ul-li .contacts-section-phones-ul-li-numbers-li:not(last-child) .phonenumber-link{
        padding-right: 8px;
    }
    .contacts-section-phones-ul-li .contacts-section-phones-ul-li-numbers-li:last-child .phonenumber-link{
        padding-left: 40px;
    }
}
@media screen and (max-width: 1023.98px){
    .contacts-section{
        padding-top: 36px;
        padding-bottom: 32px;
    }
    .contacts-section .container{
        flex-direction: column;
    }
    .contacts-section-sidebar{
        margin-bottom: 32px;
    }
    .sidebar-title{
        font-size: 40px;
        margin-bottom: 12px;
    }
    .sidebar-subtitle{
        margin-bottom: 16px;
    }
    .contacts-section-phones-ul{
        row-gap: 16px;   
        margin-bottom: 16px;     
    }
    .contacts-section-phones-ul-li{
        flex-direction: row;
        column-gap: 22px;
        align-items: center;  
    }
    .contacts-section-sidebar .contacts-section-address-div{
        padding-left: 124px;
    }
    .contacts-section-address-link{
        padding-right: 33px;
    }
    .contact-section-map-iframe{
        width:  100%;
        height: 220px;
    }
}

// common styles
    .contacts-section{
        background-color: var(--background-lighter);
    }
    .contacts-section .container{
        display: flex;
        max-width: 100%;
    }
    .contacts-section-sidebar{
        display: flex;
        flex-direction: column;
    }
    .sidebar-title{
        font-family: var(--logo-font);
        font-weight: 700;
        letter-spacing: 0.3em;
        color: var(--logo-theme-light); 
    }
    .sidebar-subtitle{
        font-family: var(--main-font);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        color: var(--primary-text-color);
    }
    .contacts-section-phones-ul{
        display: flex;
        flex-direction: column;
    }
    .contacts-section-phones-ul-li{
        display: flex;
        column-gap: 22px;
     }
    .сontacts-section-phones-ul-li-title{
        max-width: 102px; 
        width: 100%;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--accent-text-color);
    }
    .contacts-section-phones-ul-li-numbers{
        display: flex;
        align-items: center;
        background-color: var(--logo-theme-dark);
        border: 0.5px solid var(--accent-color);
        border-radius: 2px;
        column-gap: 12px;
    }
    .phonenumber-link{
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 11px;

        font-family: var(--main-font);
        font-size: 14px;
        line-height: 1.2;
        white-space:nowrap;
        color: var(--logo-theme-light);
        transition: color var(--transition-fast);
    }
    .phonenumber-link:hover,
    .phonenumber-link:focus{
        color: var(--footer-background);
    }
    .contacts-section-phones-ul-li-numbers-li:first-child .phonenumber-link{
        padding-left: 40px;
    }
    .contacts-section-phones-ul-li-numbers-li:last-child .phonenumber-link{
        padding-right: 8px;
    }
    .icon-phone-svg{
        position: absolute;
        left: 8px;
        width: 24px;
        height: 24px;
        fill: var(--accent-text-color);
    }

    .contacts-section-address-div{
        display: flex;
    }
    .contacts-section-address-link{
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 7px;
        padding-left: 44px;

        font-family: var(--main-font);
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.01em;

        color: var(--logo-theme-light);
        background-color: var(--logo-theme-dark);
        border: 0.5px solid var(--accent-color);
        border-radius: 2px;
        transition: color var(--transition-fast);
    }
    .contacts-section-address-link:hover,
    .contacts-section-address-link:focus{
        color: var(--footer-background);
    }
    .icon-location-pin-svg{
        position: absolute;
        left: 10px;
        width: 24px;
        height: 24px;
        fill: var(--accent-text-color);
    }
    .contact-section-map-div{
        height: 100%;
        // overflow: hidden;
    }
    .contact-section-map-iframe{
        border: 1px solid #BABABA;
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }
    
    // styles for mobile width less then 320px 
    @media screen and (max-width: 320px){
        .contacts-section-phones-ul-li,
        .contacts-section-address-di{
            display: block;
        }
        .contacts-section-sidebar .contacts-section-address-div,
        .contacts-section-phones-ul-li:last-child .contacts-section-phones-ul-li-numbers-li:last-child .phonenumber-link{
            padding-left: 0px;
        }
        .contacts-section-address-div{
            margin-top: 24px;
        }
        .contacts-section-phones-ul-li-numbers{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

//============= TABLET VERSION ===============================================================
@media screen and (min-width: 1024px){
    .contacts-section{
        padding-top: 56px;
        padding-bottom: 40px;
    }
    .contacts-section .container{
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    .contacts-section-sidebar{
        width: 294px;
        margin-right: 100px;
        margin-bottom: 0px;
    }
    .sidebar-title{
        font-size: 64px;
        line-height: 1.078;
        margin-bottom: 8px;
    }
    .sidebar-subtitle{
        margin-bottom: 52px;
    }
    .contacts-section-phones-ul{
        row-gap: 24px;
        margin-bottom: 48px;
    }
    .contacts-section-phones-ul-li{
        flex-direction: column;
        align-items: flex-start;
    }
    .сontacts-section-phones-ul-li-title{
        margin-bottom: 8px;
    }
    .contacts-section-sidebar .contacts-section-address-div{
        padding-left: 0px;
    }
    .contacts-section-address-div{
        flex-direction: column;
        width: 285px;
    }
    .contacts-section-address-link{
        padding-right: 8px;
    }
    .contact-section-map-iframe{
        height: 412px;
        width: 535px;
    }
}

//============= DESKTOP VERSION ===============================================================
@media screen and (min-width: 1280px){
    .contacts-section{
        padding-bottom: 74px;
    }
    .contacts-section-sidebar{
        width: 368px;
        margin-right: 108px;
    }
    .sidebar-title{
        color: #828282;
        margin-bottom: 16px;
    }
    .sidebar-subtitle{
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 40px;
    }
    .contact-section-map-iframe{
        height: 412px;
        width: 634px;
    }
}
