.details-restraunt{
    padding-top: 24px;
    padding-bottom: 40px;
    height: 735px;
}
 // phone screen
@media screen and  (max-width:1023px) {
    .details-restraunt{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile/main-page/det_rest_mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
}
@media screen and (max-width: 1023px) and (min-device-pixel-ratio: 2),screen and (max-width: 1023px) and (min-resolution: 192dpi),screen and (max-width: 1023px) and (min-resolution: 2dppx) {
    .details-restraunt{
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile/main-page/det_rest_mob@2x.jpg);
    }
  }
//   tablet screen
  @media screen and (min-width:1024px) {
    .details-restraunt{
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tab/main-page/det_rest_tab@1x.jpg);
    }
  }
  @media screen and (min-width:1024px) and (min-device-pixel-ratio: 2),screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx){
    .details-restraunt{
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tab/main-page/det_rest_tab@2x.jpg);
    }
  }
//   desktop screen
  @media screen and (min-width:1280px) {
    .details-restraunt{
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop/main-page/det_rest_desk@1x.jpg);
    }
  }
  @media screen and (min-width:1280px) and (min-device-pixel-ratio: 2),screen and (min-width:1280px) and (min-resolution: 192dpi),screen and (min-width:1280px) and (min-resolution: 2dppx){
    .details-restraunt{
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop/main-page/det_rest_desk@2x.jpg);
    }
  }
  .details-text{
margin-left: 140px;
  }
.details-tittle{
    width: 127px;
height: 43px;
font-family: 'Film P3';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 43px;
letter-spacing: 0.3em;
color: var(--logo-theme-dark);
margin-bottom: 12px;
}
.details-secondtittle{
    width: 127px;
height: 24px;
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--logo-theme-dark);
margin-bottom: 20px;
}
.details-paragraph{
    width: 259px;
height: 62px;
font-weight: 600;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--subtitle-color);
margin-bottom: 48px;
}
.slider{
    width: 300px;
height: 300px;
    outline: 5px solid tomato;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.details-btn, .details-link{
    display: block;
    width: 236px;
height: 48px;
margin-left: auto;
margin-right: auto;
background: rgba(0, 0, 0, 0.4);
border: 2px solid #FFFFFF;
border-radius: 25px;
font-weight: 700;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--accent-color);
}
.details-link{
    text-decoration: none;
    display: block;
    margin-top: 16px;
    padding-top: 12px;
    text-align: center;
}