.details-hotel{
    padding-top: 24px;
    padding-bottom: 40px;
    position: relative;
}
// phone screen
@media screen and  (max-width:1023px) {
    .details-hotel{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile/main-page/det_hotel_mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
}
@media screen and (max-width: 1023px) and (min-device-pixel-ratio: 2),screen and (max-width: 1023px) and (min-resolution: 192dpi),screen and (max-width: 1023px) and (min-resolution: 2dppx) {
    .details-hotel{
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/mobile/main-page/det_hotel_mob@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
//   tablet screen
  @media screen and (min-width:1024px) {
    .details-hotel{
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tab/main-page/det_hotel_tab@1x.jpg);
        height: 620px;
        background-repeat: no-repeat;
        background-size: cover;
      }
  }
  @media screen and (min-width:1024px) and (min-device-pixel-ratio: 2),screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx){
    .details-hotel{
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/tab/main-page/det_hotel_tab@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
  }
//   desktop screen
  @media screen and (min-width:1280px) {
    .details-hotel{
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop/main-page/det-hotel-desk@1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
  }
  @media screen and (min-width:1280px) and (min-device-pixel-ratio: 2),screen and (min-width:1280px) and (min-resolution: 192dpi),screen and (min-width:1280px) and (min-resolution: 2dppx){
    .details-hotel{
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/desktop/main-page/det-hotel-desk@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
  }
  .details-hotel>.details-tittle{
    margin-left: auto;
    margin-right: auto;
  }
  .details-hotel>.details-secondtittle{
    margin-left: auto;
}
.details-hotel-text{
  align-items: end;
    display: flex;
    flex-direction: column;
    text-align: end;
}
.text-hotel{
  max-width: 243px;
  margin-left: 32px;
}
@media screen and (min-width:1024px) {
  .text-hotel{
    max-width: 549px;
    margin-right: auto;
    margin-left: auto;
  }
}
  .details-paragraph-hotel{
    max-width: 243px;
height: 62px;
font-weight: 600;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--subtitle-color);
margin-bottom: 398px;
}
@media screen and (min-width:1024px) {
 .details-paragraph-hotel{
    max-width: 549px;
margin-bottom: 40px;
  height: 44px;
  font-size: 16px;
  margin-bottom: 40px;
  }
}
@media screen and (min-width:1024px) {
  .tablet-box-hotel{
   display: flex;
  }
  .detail-active{
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
.details-images{
  display: flex;
  list-style: none;
  margin-right: 20px;
}
.details-item:not(:first-child){
  margin-right: 20px;
}
.details-images{
position: absolute;
left: 0;
top: 233px;
}
.details-item:first-child{
  display: none;
}
@media screen and (min-width:1024px) {
  .details-item:first-child{
    display: block;
  }
  .detail-active.hotel{
    margin-bottom: 0px;
  }
  .details-images{
    position: static;
    margin-right: -38px;
  }
  .details-item:not(:last-child){
    margin-right: 30px;
  }
}
@media screen and (min-width:1280px) {
  .details-item:not(:last-child){
    margin-right: 80px;
  }
}
.arrow-right{
  fill: var(--logo-theme-dark);
  position: absolute;
  right: 43px;
  bottom: 191px;
  transition: fill var(--transition-fast);
}
.arrow-left{
  fill: var(--logo-theme-dark);
  right: 106px;
 bottom: 191px;
position: absolute;
transition: fill var(--transition-fast);
}
@media screen and (min-width:1024px) {
  .arrow-right{
    right: 315px;
    bottom: 47px;
  }
  .arrow-left{
    right: 379px;
    bottom: 47px;
  }
}
@media screen and (min-width:1280px) {
  .arrow-right{
    right: 357px;
  }
  .arrow-left{
    right: 420px;
  }
}
.arrow-right:hover, .arrow-right:focus {
  fill: var(--accent-color);
 }
 .arrow-left:hover, .arrow-left:focus{
  fill: var(--accent-color);
}