<section class="section room-hero">
  <div class="container">
    <h1 class="room-title">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    </p>
    <ul class="list room-social-network-list">
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <svg width="24" height="24" class="join-icon">
            <use href="./images/svg/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-network-item">
        <a href="" class="social-network-link">
          <svg width="24" height="24" class="join-icon">
            <use href="./images/svg/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <li class="social-network-item">
          <a href="" class="social-network-link">
            <svg width="24" height="24" class="join-icon">
              <use href="./images/svg/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
    </ul>
    <button class="button" class="room-button-prices">
      Переглянути ціни
    </button>
    <div class="room-location">
      <svg svg width="20" height="20">
        <use href="./images/svg/sprite.svg#icon-location"></use>
      </svg>
      <a href="https://goo.gl/maps/RSzgJsinwuRZXbrz9" target="_blank" rel="noopened noreferrer nofollow" class="link address__map">
      Україна, м. Полтава,
      вул. Маршала Бірюзова, 15
      </a>
    </div>
  </div>
</section>
      