<div class="container slider_container">

    <!-- SLIDER -->
    <div class="swiper__container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <!-- <div class="swiper-slide">
                    <img
                    srcset=""
                     src="./images/desktop/hotel/hotel_page_desk@1x.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./images/desktop/main-page/main_hero_desk@1x 12.53.13.jpg" alt="">
                </div> -->
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/desktop/hotel/hotel_page_desk@1x.jpg 1x,./images/desktop/hotel/hotel_page-desk@2x.jpg 2x"
                            media="(min-width: 1024px)," />
                        <source srcset="./images/mobile/Hotel/hotel_page_mob@1x.jpg x1,./images/mobile/Hotel/hotel_page_mob@2x.jpg x2"
                            media="(min-width: 1280px)," />
                        
                        <source srcset="./images/mobile/Hotel/hotel_page_mob@1x.jpg x1,./images/mobile/Hotel/hotel_page_mob@2x.jpg x2" media="(max-width: 1023px)," />
                        <img src="./images/mobile/Hotel/hotel_page_mob@1x.jpg" alt="Фотографія" />
                    </picture>
                </div>
            </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->

            <!-- If we need navigation buttons -->

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
        <div class="slider__arrows">

            <div class="s-button-prev">
                <svg width="32" height="32">
                    <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
                </svg>
            </div>
            <div class="s-button-next">
                <svg width="32" height="32">
                    <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                </svg>
            </div>

        </div>
        <div class="swiper__gradient"></div>
    </div>
</div>