    <div class="slider_container">
    
        <!-- SLIDER -->
        <div class="swiper__container">
            <!-- Slider main container -->
            <div class="swiper js-swiper-hotel-room">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <picture>
    
                            <source
                                srcset="./images/desktop/hotel/hotel_page_desk@1x.jpg 1x,./images/desktop/hotel/hotel_page-desk@2x.jpg 2x"
                                media="(min-width: 1280px)," />
    
                            <source
                                srcset="./images/tab/hotel/hotel_page_tab@1x.jpg 1x,./images/tab/hotel/hotel_page_tab@2x.jpg 2x"
                                media="(min-width: 1024px)," />
    
                            <source
                                srcset="./images/mobile/Hotel/hotel_page_mob@1x.jpg x1,./images/mobile/Hotel/hotel_page_mob@2x.jpg x2"
                                media="(max-width: 1023px)," />
    
                            <img src="./images/mobile/Hotel/hotel_page_mob@1x.jpg" alt="Фотографія" />
    
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source
                                srcset="./images/slider/desktop/room_desk@1x.jpg 1x,./images/slider/desktop/living_room_desk@2x.jpg 2x"
                                media="(min-width: 1280px)," />
    
                            <source
                                srcset="./images/slider/tablet/living_room_tab@1x.jpg 1x,./images/slider/tablet/living_room_tab@2x.jpg 2x"
                                media="(min-width: 1024px)," />
    
                            <source
                                srcset="./images/slider/mobile-additional/living_room_mob@1x.jpg x1,./images/slider/mobile-additional/iving_room_mob@2x.jpg x2"
                                media="(max-width: 1023px)," />
    
                            <img src="./images/slider/mobile-additional/living_room_mob@1x.jpg" alt="Фотографія" />
    
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source
                                srcset="./images/slider/desktop/bathroom_desk@1x.jpg 1x,./images/slider/desktop/bathroom_desk@2x.jpg 2x"
                                media="(min-width: 1280px)," />
    
                            <source
                                srcset="./images/slider/tablet/bathroom_tab@1x.jpg 1x,./images/slider/tablet/bathroom_tab@2x.jpg 2x"
                                media="(min-width: 1024px)," />
    
                            <source
                                srcset="./images/slider/mobile-additional/bathroom_mob@1x.jpg x1,./images/slider/mobile-additional/bathroom_mob@2x.jpg x2"
                                media="(max-width: 1023px)," />
    
                            <img src="./images/slider/mobile-additional/bathroom_mob@1x.jpg" alt="Фотографія" />
    
                        </picture>
                    </div>
                </div>
            </div>
            <div class="slider__arrows">
    
                <div class="s-button-prev">
                    <svg width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
                    </svg>
                </div>
                <div class="s-button-next">
                    <svg width="32" height="32">
                        <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </div>
            <div class="swiper__gradient"></div>
            <!-- _____HERO_____ -->
            <div class="container hero__container">
                <div class="container info__wrapper">
                    <div class="appartment__info">
                        <h1 class="room-title">ДВОМІСНИЙ НОМЕР люкс</h1>
                        <p class="room-text">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                            consequat duis
                            enim
                            velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                    <div class="socials_and_prices">
                        <div class="hero__slider__adress">
                            <div class="room-location">
                                <svg svg width="20" height="20" class="room-logo-location" fill="#F3C653">
                                    <use href="./images/svg/sprite.svg#icon-location"></use>
                                </svg>
                                <a href="https://goo.gl/maps/RSzgJsinwuRZXbrz9" target="_blank"
                                    rel="noopened noreferrer nofollow" class="link address__map">
                                    Україна, м. Полтава, <br>
                                    вул. Маршала Бірюзова, 15
                                </a>
                            </div>
                        </div>
                        <ul class="list room-social-network-list">
                            <li class="social-network-item">
                                <a href="https://www.instagram.com" class="social-network-link" target="_blank" rel="noopened noreferrer nofollow">
                                    <svg width="24" height="24" class="join-icon">
                                        <use href="./images/svg/sprite.svg#icon-instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social-network-item">
                                <a href="https://www.facebook.com" class="social-network-link" target="_blank" rel="noopened noreferrer nofollow">
                                    <svg width="24" height="24" class="join-icon">
                                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            <li class="hero-social-item">
                                <a href="https://www.facebook.com" class="social-network-link" target="_blank" rel="noopened noreferrer nofollow">
                                    <svg width="24" height="24" class="join-icon">
                                        <use href="./images/svg/sprite.svg#icon-telegram"></use>
                                    </svg>
                                </a>
                        </ul>
                        <div class="button-container">
                            <button type="button" class="room-prices-button js-open-modal" data-modal="3">
                                Переглянути ціни
                            </button>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
