<div class="container slider_container">

    <!-- SLIDER -->
    <div class="swiper__container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <!-- DELETED!!! -->
            </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->

            <!-- If we need navigation buttons -->

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
        <div class="slider__arrows">

            <div class="s-button-prev">
                <svg width="32" height="32">
                    <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
                </svg>
            </div>
            <div class="s-button-next">
                <svg width="32" height="32">
                    <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                </svg>
            </div>

        </div>
        <div class="swiper__gradient"></div>
    </div>
</div>