
      <section class="section section-room-convenience">
        <div class="container">
          <h2 class="amenities-title">
            ЗРУЧНОСТІ У НОМЕРІ
          </h2>
          <p class="amenities-text-main">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <ul class="list">
            <li class="about-room">
              <h3 class="about-room-title">ЗАГАЛЬНІ</h3>
              <div class="amenities-text-container">
                <p class="amenities-text text-left">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <p class="amenities-text">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
              </div>
            </li>
            <li class="about-room">
              <h3 class="about-room-title">ВАННА КІМНАТА</h3>
              <div class="amenities-text-container">
                <p class="amenities-text text-left">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
                <p class="amenities-text">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
              </div>
            </li>
            <li class="about-room">
              <h3 class="about-room-title">СПАЛЬНЯ</h3>
              <p class="amenities-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
              </p>
            </li>
            <li class="about-room">
              <h3 class="about-room-title">КУХНЯ</h3>
              <div class="amenities-text-container">
                <p class="amenities-text text-left">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                </p>
                <p class="amenities-text">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                </p>
              </div>
            </li>
            <li class="about-room">
              <h3 class="about-room-title">МЕДІА</h3>
              <p class="amenities-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
              </p>
            </li>
          </ul>
          
          <button class="button room-booking-button js-open-modal" data-modal="1"
          >ОФОРМИТИ БРОНЮВАННЯ</button>
          <a href="./hotel.html" class="room-back link">
            Повернутися до перегляду номерів
            <svg width="24" height="24" class="room-back-icon">
              <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
          
        </div>
      </section>
    </main>
    
  </body>
</html>
