
      <!-- Amenities -->
      <section class="section">
        <div class="container">
          <h2 class="amenities-title">
            ЗРУЧНОСТІ У НОМЕРІ
          </h2>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <h3 class="about-room-title">ЗАГАЛЬНІ</h3>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <h3 class="about-room-title">ВАННА КІМНАТА</h3>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </p>
          <h3 class="about-room-title">СПАЛЬНЯ</h3>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          </p>
          <h3 class="about-room-title">КУХНЯ</h3>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          </p>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
          </p>
          <h3 class="about-room-title">МЕДІА</h3>
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
          </p>
          <button class="button">
            ОФОРМИТИ БРОНЮВАННЯ
          </button>
          <a href="" class="room-back link">
            Повернутися до перегляду номерів
            <svg width="24" height="24" class="room-back-icon">
              <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
          
        </div>
      </section>
    </main>
    
  </body>
</html>
