<section class="hotel-one">
    <div class="container">
        <div class="hotel-photo-text">
            <div class="hotel-content">
        <p class="hotel-first-text">Amet minim mollit non</p>
        <h2 class="hotel-first-title">MIMIHO</h2>
        <h3 class="hotel-scnd-title">ДВОМІСНИЙ НОМЕР люкс</h3>
        <p class="hotel-scnd-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        <div class="hotel-img">
            <picture>
                <source
                    srcset="./images/desktop/main-page/about_hotel_yellow_pillow_desk@1x.jpg 1x , ./images/desktop/main-page/about_hotel_yellow_pillow_desk@2x.jpg 2x"
                    width="460px" height="574px" media="(min-width:1280px)">
                <source srcset="./images/tab/main-page/about_hotel_yellow_pillow_tab@1x.jpg 1x , ./images/tab/main-page/about_hotel_yellow_pillow_tab@2x.jpg 2x"
                    width="400px" height="524px" media="(min-width:1024px)">
                <img class="hotel-photo" src="./images/mobile/Hotel/room_mob.jpg" alt="hotel" srcset="./images/mobile/Hotel/room_mob.jpg 1x , ./images/mobile/Hotel/room_mob.jpg 2x"
                    width="244px" height="322px">
            </picture>
        </div>
        </div>
        <ul class="hotel-button-list">
            <li class="hotel-button-item list">
                <a class="link" href="./hotel-room.html">
                <button class="hotel-btn" type="button">Детальніше</button>
                </a>
            </li>
            <li class="hotel-button-item list">
                <button class="hotel-btn js-open-modal" data-modal="3" type="button">Переглянути ціни</button>
            </li>
        </ul>
    </div>
</section>