<section class="hotel-two">
    <div class="container">
        <div class="hotel-photo-text-two">
        <div class="hotel-box">
            <p class="hotel-first-text">Amet minim mollit non</p>
            <h2 class="hotel-first-title">MIMIHO</h2>
            <h3 class="hotel-scnd-title-two">ТРЬОХМІСНИЙ НОМЕР</h3>
            <p class="hotel-scnd-text-two">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit
                officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="hotel-img-two">
        <picture>
            <source
                srcset="./images/desktop/main-page/about_hotel_yellow_pillow_desk@1x.jpg 1x , ./images/desktop/main-page/about_hotel_yellow_pillow_desk@2x.jpg 2x"
                sizes="460px" media="(min-width:1280px)">
            <source srcset="./images/tab/main-page/about_hotel_yellow_pillow_tab@1x.jpg 1x , ./images/tab/main-page/about_hotel_yellow_pillow_tab@2x.jpg 2x"
                sizes="400px" media="(min-width:1024px)">
            <img class="hotel-photo-two" src="./images/mobile/Hotel/room_mob.jpg" alt="hotel"
                srcset="./images/mobile/Hotel/room_mob.jpg 1x , ./images/mobile/Hotel/room_mob@2x.jpg 2x"
                sizes="244px">
        </picture>
        </div>
        </div>
        <div class="hotel-slider-two">
                <div class="hotel-photo-and-slider-two">
                    <ul class="hotel-photo-slider-list-two">
                        <li class="hotel-photo-slider-item-two list">
                            <picture>
                                <source
                                    srcset="./images/slider/mobile/hotel+/hotel_roomfor3_bath_mob@1x.jpg 1x , ./images/slider/mobile/hotel+/hotel_roomfor3_bath_mob@2x.jpg 2x"
                                    sizes="254px" media="(min-width:1280px)">
                                <source
                                    srcset="./images/slider/mobile/hotel+/hotel_roomfor3_bath_mob@1x.jpg 1x , ./images/slider/mobile/hotel+/hotel_roomfor3_bath_mob@2x.jpg 2x"
                                    sizes="194px" media="(min-width:1024px)">
                                <img class="" src="./images/slider/mobile/hotel+/hotel_roomfor3_bath_mob@1x.jpg" alt="hotel-luxe-bath"
                                    srcset="./images/slider/mobile/hotel+/hotel_roomfor3_bath_mob@1x.jpg 1x , ./images/slider/mobile/hotel+/hotel_roomfor3_bath_mob@2x.jpg 2x"
                                    sizes="194px">
                            </picture>
                        </li>
                        <li class="hotel-photo-slider-item-two list">
                            <picture>
                                <source
                                    srcset="./images/slider/mobile/hotel+/hotel_roomfor2_nature_mob@1x.jpg 1x , ./images/slider/mobile/hotel+/hotel_roomfor2_nature_mob@2x.jpg 2x"
                                    sizes="254px" media="(min-width:1280px)">
                                <source
                                    srcset="./images/slider/mobile/hotel+/hotel_roomfor2_nature_mob@1x.jpg 1x , ./images/slider/mobile/hotel+/hotel_roomfor2_nature_mob@2x.jpg 2x"
                                    sizes="194px" media="(min-width:1024px)">
                                <img class="" src="./images/slider/mobile/hotel+/hotel_roomfor2_nature_mob@1x.jpg" alt="hotel-room-nature"
                                    srcset="./images/slider/mobile/hotel+/hotel_roomfor2_nature_mob@1x.jpg 1x , ./images/slider/mobile/hotel+/hotel_roomfor2_nature_mob@2x.jpg 2x"
                                    sizes="194px">
                            </picture>
                        </li>
                    </ul>
                    <ul class="hotel-slider-list-two">
                        <li class="hotel-slider-item-two list">
                            <button type="button" class="hotel-slider-btn-two">
                                <svg class="hotel-slider-svg">
                                    <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="hotel-slider-item-two list">
                            <button type="button" class="hotel-slider-btn-two">
                                <svg class="hotel-slider-svg">
                                    <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
                
                <ul class="hotel-button-list-two">
                    <li class="hotel-button-item-two list">
                        <a class="hotel-link link" href="./hotel-room.html">
                            Детальніше
                        </a>
                    </li>
                    <li class="hotel-button-item-two list">
                        <button class="hotel-btn js-open-modal" data-modal="3" type="button">Переглянути ціни</button>
                    </li>
                </ul>
                </div>
                </section>