.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


/*______Section-one______*/

.hotel-one {
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .hotel-one {
        padding-top: 72px;
        padding-bottom: 40px;
    }
}

.hotel-first-text {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B4B4B4;
    margin: 0;
    margin-bottom: 8px;
}

@media screen and (min-width: 1024px) {
    .hotel-first-text {
        font-size: 32px;
        line-height: 37px;
    }
}

.hotel-first-title {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    letter-spacing: 0.3em;
    color: #494848;
    margin: 0;
    margin-bottom: 32px;

}

@media screen and (min-width: 1024px) {
    .hotel-first-title {
        font-size: 64px;
        line-height: 69px;
    }
}

.hotel-scnd-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    margin-bottom: 12px;
}

@media screen and (min-width: 1024px) {
    .hotel-scnd-title {
        font-size: 30px;
        line-height: 34px;
    }
}

.hotel-scnd-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #7A7A7A;
    max-width: 258px;
    margin: 0;
    margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
    .hotel-scnd-text {
        max-width: 439px;
        font-size: 16px;
        line-height: 20px;
    }
}

.hotel-img {
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
    .hotel-img {
        margin-right: 65px;
        margin-top: -94px;
    }
}

@media screen and (min-width: 1280px) {
    .hotel-img {
        margin-right: 95px;
        margin-top: -112px;
    }
}

.hotel-photo {
    margin: 0;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}



.hotel-photo-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.hotel-photo-item {
    margin: 0;
}


.hotel-button-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 20px;

}

@media screen and (min-width: 1024px) {
    .hotel-button-list {
        display: flex;
        align-items: flex-end;
        margin-top: 89px;
        margin-bottom: 73px;

    }
}

@media screen and (min-width: 1280px) {
    .hotel-button-list {
        display: flex;
        align-items: flex-end;
        margin-top: 120px;
        margin-bottom: 73px;

    }
}

.hotel-slider {}

@media screen and (min-width: 1024px) {
    .hotel-slider {
        display: flex;
        justify-content: space-between;
    }
}

.hotel-photo-slider-list {
    display: flex;
    margin-top: 32px;
    transform: translateX(-135px);
}

@media screen and (min-width: 1024px) {
    .hotel-photo-slider-list {
        margin-top: 48px;
        transform: translateX(0)
    }
}

.hotel-photo-slider-item {
    margin-right: 16px;
}

.hotel-photo-slider-item:last-child {
    margin-right: 0;
}

.hotel-slider-list {
    display: flex;
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {
    .hotel-slider-list {
        justify-content: flex-end;
    }
}

.hotel-slider-item {
    margin-right: 32px;
}

.hotel-slider-item:last-child {
    margin-right: 0;
}

.hotel-slider-btn {
    border: none;
    background-color: inherit;
    width: 32px;
    height: 32px;
    position: relative;
}

.hotel-slider-svg {
    fill: #000000;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 23.71%;
    left: 3.68%;
    transition: fill var(--transition-slow)
}

.hotel-slider-svg:hover{
    fill: #F3C653;
}


.hotel-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #F3C653;
    background: #000000;
    border: 2px solid #FFFDEE;
    border-radius: 25px;
    width: 236px;
    height: 48px;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    display: block;
    text-align: center;
    transition: background-color var(--transition-slow),
        border var(--transition-slow);
}

.hotel-link:hover,
.hotel-link:focus {
    background: #FFFFFF;
    border: 2px solid #F3C653;
}

.hotel-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #F3C653;
    background: #000000;
    border: 2px solid #FFFDEE;
    border-radius: 25px;
    width: 236px;
    height: 48px;
    padding: 0;
    display: block;
    transition: background-color var(--transition-slow),
        border var(--transition-slow);
}

.hotel-btn:hover,
.hotel-btn:focus {
    background: #FFFFFF;
    border: 2px solid #F3C653;
}

.hotel-button-item {
    margin: 20px auto 16px;
}


@media screen and (min-width: 1024px) {
    .hotel-button-item {
        margin: 0;
        margin-bottom: 16px;
    }
}

.hotel-button-item:last-child {
    margin-bottom: 0;
    margin-top: 0;
}

.hotel-btn:last-child {
    margin-bottom: 0;
    margin-top: 0;
}



@media screen and (min-width: 1024px) {
    .hotel-photo-text {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .hotel-content {
        margin: 0;
    }
}


