.hotel-photo-two {
    margin: 0;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}


.hotel-first-text {
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B4B4B4;
    margin: 0;
    margin-bottom: 8px;
}

@media screen and (min-width: 1024px) {
    .hotel-first-text {
        font-size: 32px;
        line-height: 37px;
    }
}

.hotel-first-title {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    letter-spacing: 0.3em;
    color: #494848;
    margin: 0;
    margin-bottom: 32px;

}

@media screen and (min-width: 1024px) {
    .hotel-first-title {
        font-size: 64px;
        line-height: 69px;
    }
}

.hotel-scnd-title-two {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    margin-bottom: 12px;
}

@media screen and (min-width: 1024px) {
    .hotel-scnd-title-two {
        font-size: 30px;
        line-height: 34px;
        margin-right: 45px;
    }
}


.hotel-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hotel-scnd-text-two {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #7A7A7A;
    max-width: 242px;
    margin: 0;
    margin-right: 45px;
    margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
    .hotel-scnd-text-two {
        max-width: 400px;
        font-size: 16px;
        line-height: 20px;
        margin-right: 0;
    }
}

.hotel-two {
    background: #F0ECD6;
    padding-top: 32px;
    padding-bottom: 32px;
}

@media screen and (min-width: 1024px) {
    .hotel-two {
        padding-top: 72px;
        padding-bottom: 40px;
    }
}

.hotel-slider-two {}

@media screen and (min-width: 1024px) {
    .hotel-slider-two {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

.hotel-photo-and-slider-two {
    overflow: hidden;
}

.hotel-photo-slider-list-two {
    display: flex;
    margin-top: 32px;
    justify-content: flex-end;
    transform: translateX(113px);
    
}

@media screen and (min-width: 1024px) {
    .hotel-photo-slider-list-two {
        margin-top: 48px;
        transform: translateX(0)
    }
}

.hotel-photo-slider-item-two {
    margin-right: 16px;
}

.hotel-photo-slider-item-two:last-child {
    margin-right: 0;
}

.hotel-slider-list-two {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {
    .hotel-slider-list-two {
        justify-content: flex-start;
    }
}

.hotel-slider-item-two {
    margin-right: 32px;
}

.hotel-slider-item-two:last-child {
    margin-right: 0;
}

.hotel-slider-btn-two {
    width: 32px;
    height: 32px;
}

.hotel-button-list-two {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {
    .hotel-button-list-two {
        display: flex;
        align-items: flex-start;
        margin-top: 89px;
        margin-bottom: 73px;
    }
}

@media screen and (min-width: 1280px) {
    .hotel-button-list-two {
        display: flex;
        align-items: flex-start;
        margin-top: 120px;
        margin-bottom: 73px;
    }
}

.hotel-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #F3C653;
    background: #000000;
    border: 2px solid #FFFDEE;
    border-radius: 25px;
    width: 236px;
    height: 48px;
    display: block;
}

.hotel-button-item-two {
    margin: 20px auto 16px;
}

@media screen and (min-width: 1024px) {
    .hotel-button-item-two {
        margin: 0;
        margin-bottom: 16px;
    }
}

.hotel-button-item-two:last-child {
    margin-bottom: 0;
    margin-top: 0;
}

.hotel-slider-btn-two {
    border: none;
    background-color: inherit;
    width: 32px;
    height: 32px;
    position: relative;
}

.hotel-slider-svg {
    fill: #000000;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 23.71%;
    left: 3.68%;
    transition: fill var(--transition-slow)
}

.hotel-slider-svg:hover {
    fill: #F3C653;
}


@media screen and (min-width: 1024px) {
    .hotel-photo-text-two {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .hotel-img-two {
        margin-left: 65px;
        margin-top: -94px;
    }
}

@media screen and (min-width: 1280px) {
    .hotel-img-two {
        margin-left: 95px;
        margin-top: -112px;
    }
}