<footer class="footer">
    <div class="container">
        <a href="./index.html" class="logo-link-footer link">MIMIHO</a>
            <div class="footer-wrapper-right-side">
                <ul class="pages-list list">
                    <li class="pages-item"><a href="./index.html" class="pages-link link">Головна</a></li>
                    <li class="pages-item"><a href="./restaurant.html" class="pages-link link">Ресторан</a></li>
                    <li class="pages-item"><a href="./hotel.html" class="pages-link link">Готель</a></li>
                </ul>
                <ul class="social-list-footer list">
                    <li class="social-item-footer">
                        <a href="https://www.instagram.com" target="_blank" class="social-link link" rel="noopened noreferrer nofollow">
                            <span>Instagram</span>
                        <svg class="social-icon" width="24" height="24">
                        <use href="./images/svg/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
                </li>
                    <li class="social-item-footer">
                        <a href="https://www.facebook.com" target="_blank" class="social-link link" rel="noopened noreferrer nofollow">
                            <span>Facebook</span>
                        <svg class="social-icon" width="24" height="24">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg></a></li>
                    <li class="social-item-footer">
                        <a href="https://web.telegram.org" target="_blank" class="social-link link" rel="noopened noreferrer nofollow">
                        <span>Telegram</span>
                        <svg class="social-icon" width="24" height="24">
                        <use href="./images/svg/sprite.svg#icon-telegram"></use>
                    </svg></a>
                </li>
                </ul>
            </div>
    </div>
    </footer>