<header>

    <div class="container header__container">
        <a class="header__logo" href="./index.html">MIMIHO</a>
        <nav class="header__nav">
            <ul class="list header__nav-list">
                <li class="header__nav-items">
                    <a class="link header__nav-link" href="./restaurant.html" target="_blank">Ресторан</a>
                    <a class="link header__nav-tel" href="tel:+38095559533">
                        <svg class="header__tel-icon" width="24" height="24">
                            <use href="./images/svg/sprite.svg#icon-phone"></use>
                        </svg>
                        <span class="header__tel-number">095 55 95 33</span>
                    </a>
                </li>
                <li class="header__nav-items">
                    <a class="link header__nav-link" href="./hotel.html" target="_blank">Готель</a>
                    <a class="link header__nav-tel" href="tel:+380668491089">
                        <svg class="header__tel-icon" width="24" height="24">
                            <use href="./images/svg/sprite.svg#icon-phone"></use>
                        </svg>
                        <span class="header__tel-number">066 849 10 89</span>
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="list header__social-list">
            <li class="header__social-item">
                <a class="link header__social-link" href="#" target="_blank">
                    <svg width="24" height="24">
                        <use href="./images/svg/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header__social-item">
                <a class="link header__social-link" href="#" target="_blank">
                    <svg width="24" height="24">
                        <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header__social-item">
                <a class="link header__social-link" href="#" target="_blank">
                    <svg width="24" height="24">
                        <use href="./images/svg/sprite.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

</header>