<header>
    <div class="header__wrapper">
        <a class="header__logo" href="./index.html">MIMIHO</a>
        <nav class="header__nav">
            <ul class="list header__nav-list">
                <li class="header__nav-items">
                    <a class="link header__nav-link" href="./restaurant.html">Ресторан</a>
                    <a class="link header__nav-tel" href="tel:+38095559533">
                        <span class="header__nav-icon">
                            <svg class="header__tel-icon" width="24" height="22">
                                <use href="./images/svg/sprite.svg#icon-phone"></use>
                            </svg>
                        </span>
                        <span class="header__tel-text">
                            095 555 95 33
                        </span>
                    </a>
                </li>
                <li class="header__nav-items">
                    <a class="link header__nav-link" href="./hotel/">Готель</a>
                    <a class="link header__nav-tel" href="tel:+380668491089">
                        <span class="header__nav-icon">
                            <svg class="header__tel-icon" width="24" height="24">
                                <use href="./images/svg/sprite.svg#icon-phone"></use>
                            </svg>
                        </span>

                        <span class="header__tel-text">
                            066 849 10 89
                        </span>
                    </a>
                </li>
                <li>

                </li>
            </ul>
        </nav>
    </div>
</header>