.restaurant-menu-section {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--background-lighter);
}
@media screen and (min-width: 1024px) {
    .restaurant-menu-section {
        padding-top: 58px;
        padding-bottom: 40px;
    }
    .restaurant-menu-formation {
        display: flex;
        gap: 88px;
        margin-bottom: 41px;
    }
}
@media screen and (min-width: 1280px) {
    .restaurant-menu-section {
        padding-bottom: 60px;
    }
    .restaurant-menu-formation {
        gap: 140px;
        margin-bottom: 32px;
        }
}

.font-title {
    font-family: 'Times New Roman';
    font-weight: 700;
    color: #000000;
}

.restaurant-menu-title {
    font-size: 28px;
    line-height: 1.156;
    /*border: 1px solid #000000;*/
    margin-bottom: 32px;
}

@media screen and (max-width: 1023.98px) {
    .restaurant-menu-title {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media screen and (min-width: 351px) {
    .restaurant-menu-title {
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .restaurant-menu-title {
        margin-bottom: 40px;
    }
}

.restaurant-menu-name {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
    .restaurant-menu-name {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1280px) {
    .restaurant-menu-name {
        font-size: 24px;
        line-height: 1.167;
    }
}

.restaurant-menu-position {
    font-weight: 500;
    font-size: 14px;
}
@media screen and (min-width: 1280px) {
    .restaurant-menu-position {
        font-size: 16px;
        line-height: 1.25;
    }
}

.restaurant-menu-composition {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    margin-top: 4px;
}

.restaurant-menu-table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 16px;
    border-collapse: separate;
    /*border-spacing: 32px 8px;*/
}
@media screen and (min-width: 1024px) {
    .restaurant-menu-table {
        margin-bottom: 0px;
    }
    .restaurant-menu-table:nth-last-child(n+2) {
        margin-bottom: 20px;
    }
}

.restaurant-menu-cell:nth-child(1) {
    width: 60%;
    /*width: 225px;*/
}

.restaurant-menu-cell:nth-child(2) {
    text-align: center;
}

.restaurant-menu-cell:nth-child(3) {
    text-align: right;
    font-weight: 700;
}

.item-margin {
    margin-top: 8px;
}

@media screen and (min-width: 1280px) {
    .item-margin {
        margin-top: 12px;
        }
}

.restaurant-button-style {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--accent-color);
    padding: 12px 24px;
    background: #000000;
    border: 2px solid #FFFDEE;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition-property: background-color, boder;
    transition: var(--transition-slow);
    /*transition-duration: var(--transition-fast);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
}
.restaurant-button-style:hover,
.restaurant-button-style:focus,
.restaurant-button-style:active {
    background-color: var(--logo-theme-dark);
    border: 2px solid var(--accent-color);
}
@media screen and (min-width: 1024px) {
    .restaurant-button-style {
        margin-right: 0;
    }
}