    //   SLIDER

    .swiper {
        height: auto;
        width: 100%;
    }

    .slider_container {
        padding: 0;


    }

    .swiper__container {
        position: relative;


    }

    .swiper-slide {

        width: 100%;
        height: 100%;
    }
                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                }
        
                .swiper-slide img {
                    display: block;
                    width: 100%;
                }

    .slider__arrows {
        display: flex;
        justify-content: space-between;
    }

    .s-button-prev {
        position: absolute;
        top: 50%;
        left: 1%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        border-radius: 3px;
        border: none;
        fill: var(--accent-color);
        cursor: pointer;
        transition: var(--transition-slow);
    }

    .s-button-next {
        position: absolute;
        top: 50%;
        right: 1%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        border-radius: 3px;
        border: none;
        fill: var(--accent-color);
        cursor: pointer;
        transition: var(--transition-slow);
    }



    .swiper__gradient {
        height: 115px;
        width: 100%;
        z-index: 2;
        top: 0;
        position: absolute;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 1),
                rgba(0, 0, 0, 0.55),
                rgba(0, 0, 0, 0));
    }

    // ______HERO______
    // .hero__container {
    //     z-index: 2;
    //     position: absolute;
    //     top: 0;

    //     justify-content: center;
    // }

    .room-title {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: var(--logo-theme-dark);
    }

    // @media screen and (min-width: 1024px) {
    //     .room-title {
    //         min-width: 510px;
    //         font-size: 36px;
    //         line-height: 41px;

    //     }
    // }

    .room-text {
        max-width: 325px;
        margin-top: 14px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;

        color: var(--logo-theme-dark);

    }

    // .room-list-button {
    //     display: flex;

    // }

    // .button-container {
    //     justify-content: center;
    //     align-items: center;
    //     display: flex;
    //     width: 100%;
    // }

    .room-social-network-list {
        margin-right: 70px;
        gap: 8px;
    }

    @media screen and (max-width:360px) {
        .room-social-network-list {
            margin-right: auto;
        }

        .room-title {
            font-size: 24px;
            line-height: calc(26/24);
            letter-spacing: 0.05em;
        }

        .room-text {
            margin-top: 5px;
        }

        .socials_and_prices {
            margin-top: 5px;
        }

        .info__wrapper {
            bottom: 5px;
        }
    }

    // @media screen and (min-width: 1024px) {
    //     .room-social-network-list {
    //         display: flex;
    //         gap: 21px;
    //         margin-left: 372px;
    //         margin-bottom: 38px;
    //         margin-top: 42px;
    //     }
    // }

    button.room-prices-button {
        box-sizing: border-box;
        width: 232px;
        height: 48px;
        background: rgba(0, 0, 0, 0.4);

        border: 2px solid #FFFFFF;
        border-radius: 25px;

        position: relative;
        left: 5px;

        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: var(--accent-color);

    }

    // @media screen and (min-width: 1024px) {
    //     button.room-prices-button {
    //         position: absolute;
    //         top: 608px;
    //         left: 745px;

    //     }
    // }

    // .room-location-container {
    //     display: flex;
    //     justify-content: end;
    // }

    // @media screen and (min-width: 1024px) {
    //     .room-location-container {
    //         justify-content: flex-start;
    //     }
    // }

    .room-location {

        box-sizing: border-box;

        width: 210px;
        height: 47px;


        display: flex;
        align-items: center;

        padding: 8px 3px 9px 6px;

        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;

    }

    // @media screen and (min-width: 1024px) {
    //     .room-location {
    //         top: 640px;
    //     }
    // }

    .address__map {

        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0.01em;

        color: #E5E5E5;
        ;
    }

    // .room-logo-location {
    //     margin-right: 8px;
    // }

    .info__wrapper {
        z-index: 2;
        position: absolute;
        bottom: 16;
        left: 0;
        right: 0;
    }

    .socials_and_prices {
        margin-top: 16px;
        display: flex;
        align-items: center;
    }

    @media screen and (max-width:360px) {
        .socials_and_prices {
            margin-top: 10px;
        }

        button.room-prices-button {
            transform: translateX(-5px);
        }
    }

    .hero__slider__adress {
        display: none;
    }

    // ----1024----

    @media screen and (min-width:1024px) {
        .room-title {
            font-size: 36px;
            line-height: calc(41.4/36);
            letter-spacing: 0.05em;
        }

        .room-text {
            font-size: 1 6px;
            line-height: calc(19.5/16);
            letter-spacing: 0.02em;
        }

        .room-social-network-list {
            display: flex;
            gap: 21px;
            align-items: center;
            margin-right: 261px;
        }

        .socials_and_prices {
            height: 104px;
        }

        .button-container {
            align-self: baseline;
        }

        .hero__slider__adress {
            display: block;
margin-right: 40px;
        }
    }

    // ----1280----

    @media screen and (min-width:1280px) {

        .room-social-network-list {
            display: none;
        }

        .hero__slider__adress {
            display: none;
        }

        .socials_and_prices {
            height: auto;
        }

        .button-container {
            align-self: center;
            transform: translateY(30%);
        }

        .info__wrapper {
            display: flex;
            justify-content: space-between;

        }

        .appartment__info {
            margin-bottom: 32px;
        }
    }
.social-network-link {
    fill: var(--accent-color);
    transition: var(--transition-slow);
 }
.social-network-link:hover  {
    fill: var(--accent-text-color);
}
.social-network-link:focus {
    fill: var(--accent-text-color);
}
.room-prices-button {
    transition: background-color var(--transition-fast),
            border var(--transition-fast);
}
.room-prices-button:hover,
.room-prices-button:focus {
    background-color: var(--logo-theme-dark);
    border: 2px solid var(--accent-color);
}
.hero__slider__adress {
    transition:
    transform var(--transition-slow);
}
.hero__slider__adress:hover,
.hero__slider__adress:focus {
    transform: scale(1.05);
}
