    //   SLIDER
       
    .swiper {
        height: auto;
        width: 100%;
    }
    .slider_container {
        padding: 0;
    }
    .swiper__container {
        position: relative;
        
    }

    .swiper-slide {
               
        width: 100%;
        height: auto;
    }

    .slider__arrows {
        display: flex;
        justify-content: space-between;
    }

    .s-button-prev {
        position: absolute;
        top: 50%;
        left: 1%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        border-radius: 3px;
        border: none;
        fill: var(--accent-color);
        cursor: pointer;
        transition: var(--transition-slow);
    }

    .s-button-next {
        position: absolute;
        top: 50%;
        right: 1%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: rgba($color: #000000, $alpha: 0.4);
        border-radius: 3px;
        border: none;
        fill: var(--accent-color);
        cursor: pointer;
        transition: var(--transition-slow);
    }
    .s-button-prev:hover,
        .s-button-prev:focus {
        transform: scaleY(1.3);
    }
    .s-button-next:hover,
        .s-button-next:focus {
        transform: scaleY(1.3);
    }

    .swiper__gradient {height: 115px;
        width: 100%;
        z-index: 2;
        top: 0;
        position: absolute;
        background-image: linear-gradient( 
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0));
    }
