<section class="about-restaurant">
    <div class="container">
        <div class="about-hotel">
        <p class="text-restaurant">Amet minim mollit non</p>
        <h2 class="title-about-restaurant">MIMIHO</h2>
        <p class="text-about-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <ul class="img-hotel">
        <li class="photo-about-restaurant">
            <img srcset="./images/mobile/main-page/about_hotel_mob@1x.jpg 1x , ./images/mobile/main-page/about_hotel_mob@2x.jpg 2x"
             alt="about">
        </li>
        </ul>
        <ul class="img-about-hotel">
            <p class="left-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <li class="photo-about-hotel list">
            <img 
            alt="rest"
             srcset="./images/mobile/main-page/about_hotel1_mob@1x.jpg 1x , ./images/mobile/main-page/about_hotel1_mob@2x.jpg 2x">  
        </li>
       </ul>
    </div>
 </section>   