<section class="section-about-restaurant">
    <div class="container">
        <div class="about-restaurant">
         <div class="text">   
        <p class="text-restaurant">Amet minim mollit non</p>
        <h2 class="title-about-restaurant">MIMIHO</h2>
        <p class="text-about-restaurant">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
         </div>
         <div class="photo-restaurant">
            <img srcset="./images/mobile/main-page/about_rest_mob@1x.jpg 1x , ./images/mobile/main-page/about_rest_mob@2x.jpg 2x"
             alt="about">
        </div>
        </div>
        
        <ul class="img-about-restuarant">
        <li class="photo-about-restaurant">
            <img src=" " 
            alt="rest"
             srcset="./images/mobile/main-page/about_rest1_mob@1x.jpg 1x , ./images/mobile/main-page/about_rest1_mob@2x.jpg 2x">
          <p class="right-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>  
        </li>
        </ul>
    </div>
 </section>   