<section class="about-restaurant">
    <div class="container">
        <div class="img-hotel-room">
        <div class="about-hotel">
        <p class="text-restaurant">Amet minim mollit non</p>
        <h2 class="title-about-restaurant">MIMIHO</h2>
        <p class="text-about-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="img-hotel">
            <picture>
                <source
                srcset="./images/desktop/main-page/about_rest_desk@1x.jpg 1x, ./images/desktop/main-page/about_rest_desk@2x.jpg 2x"
                sizes="400px"
                media="(min-width:1280px)">
                <source
                srcset="./images/tab/main-page/about_rest_tab@1x.jpg 1x, ./images/tab/main-page/about_rest_tab@2x.jpg 2x"
                sizes="400px"
                media="(min-width:1024px)">
                <img class=""
                srcset="./images/mobile/main-page/about_rest_mob@1x.jpg 1x, ./images/mobile/main-page/about_rest_mob@2x.jpg 2x"
                src="./images/mobile/main-page/about_rest_mob@1x.jpg" alt="restaurant"
                sizes="244px">
            </picture>
        </div>
       </div>
        <ul class="img-about-hotel">
            <p class="left-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <li class="photo-about-hotel list">
            <picture>
                <source
                srcset="./images/desktop/main-page/about_rest_desk@1x.jpg 1x, ./images/desktop/main-page/about_rest_desk@2x.jpg 2x"
                sizes="400px"
                media="(min-width:1280px)">
                <source
                srcset="./images/tab/main-page/about_rest_tab@1x.jpg 1x, ./images/tab/main-page/about_rest_tab@2x.jpg 2x"
                sizes="400px"
                media="(min-width:1024px)">
                <img class=""
                srcset="./images/mobile/main-page/about_rest_mob@1x.jpg 1x, ./images/mobile/main-page/about_rest_mob@2x.jpg 2x"
                src="./images/mobile/main-page/about_rest_mob@1x.jpg" alt="restaurant"
                sizes="244px">
            </picture>
        </li>
       </ul>
    </div>
 </section>   