<section class="contacts-section">
    
    <div class="container">

        <h2 class="contacts-section-title visually-hidden">CONTACTS</h2>

        <div class="contacts-section-sidebar">
            
            <h3 class="sidebar-title">MIMINO</h3>
            <h4 class="sidebar-subtitle">Ресторанно-готельний комплекс</h4>

            <ul class="contacts-section-phones-ul list">

                <li class="contacts-section-phones-ul-li list">
                    <h5 class="сontacts-section-phones-ul-li-title">Ресторан</h5>
                    <ul class="contacts-section-phones-ul-li-numbers list">
                        <li class="contacts-section-phones-ul-li-numbers-li">
                            <a class="phonenumber-link link" href="tel:0955559533">095 555 95 33
                                <svg class="icon-phone-svg">
                                    <use href="./images/svg/sprite.svg#icon-phone"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>    
                </li>

                <li class="contacts-section-phones-ul-li list">
                    <h5 class="сontacts-section-phones-ul-li-title">Готель</h5>
                    <ul class="contacts-section-phones-ul-li-numbers list">
                        <li class="contacts-section-phones-ul-li-numbers-li">
                            <a class="phonenumber-link link" href="tel:0668491089"> 066 849 10 89
                                <svg class="icon-phone-svg">
                                    <use href="./images/svg/sprite.svg#icon-phone"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="contacts-section-phones-ul-li-numbers-li">
                            <a class="phonenumber-link link" href="tel:0672758540">067 275 85 40
                                <svg class="icon-phone-svg visually-hidden">
                                    <use href="./images/svg/sprite.svg#icon-phone"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="contacts-section-address-div list">
                <h5 class="сontacts-section-address-div-title visually-hidden">Адреса</h5>
                <p class="contacts-section-address-p">
                    <a class="contacts-section-address-link link" href="">Україна, м. Полтава, <br>вул. Маршала Бірюзова, 15
                        <svg class="icon-location-pin-svg">
                            <use href="./images/svg/sprite.svg#icon-location-pin"></use>
                        </svg>
                        
                    </a>
                </p>
            </div>

        </div>

        <div class="contact-section-map-div">
            <iframe class="contact-section-map-iframe" 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5077.543651024237!2d34.522030667071924!3d49.59943107733566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1674875742569!5m2!1sru!2sua" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
        </div>

    </div>

</section>