<section class="details-restraunt">
  <div class="container">
    <div class="details-text">
      <h2 class="details-tittle">MIMINO</h2>
      <h3 class="details-secondtittle">Ресторан</h3>
      <p class="details-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
        officia consequat duis enim velit mollit.</p>
    </div>
    <div class="tablet-box">
      <div class="swiper swiper__main_2 mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              srcset="./images/tab/main-page/det_ret_steak_tab@1x.jpg 1x, ./images/tab/main-page/det_ret_steak_tab@2x.jpg 2x"
              src="./images/tab/main-page/det_ret_steak_tab@1x.jpg" alt="steak" width="274" height="270">
          </div>
          <div class="swiper-slide">
            <img
              srcset="./images/tab/main-page/det_rest_meal1_tab@1x.jpg 1x, ./images/tab/main-page/det_rest_meal1_tab@2x.jpg 2x"
              src="./images/tab/main-page/det_rest_meal1_tab@1x.jpg" alt="fish" width="162" height="270">
          </div>
          <div class="swiper-slide">
            <img
              srcset="./images/tab/main-page/det_rest_meal_tab@1x.jpg 1x, ./images/tab/main-page/det_rest_meal_tab@2x.jpg 2x"
              src="./images/tab/main-page/det_rest_meal_tab@1x.jpg" alt="salad" width="162" height="270">
          </div>
          <!-- <div class="swiper-slide"><img srcset="./images/tab/main-page/det_ret_steak_tab@1x.jpg 1x, ./images/tab/main-page/det_ret_steak_tab@2x.jpg 2x" src="./images/tab/main-page/det_ret_steak_tab@1x.jpg" alt="steak" width="274" height="270">
          </div> -->
        </div>
        <div class="swiper-button-next s-button-next s-button-next-det-rest"></div>
        <div class="swiper-button-prev s-button-prev s-button-prev-det-rest"></div>
      </div>
      <ul class="detail-active">
        <li><button type="button" class="details-btn js-open-modal" data-modal="2">Забронювати столик</button></li>
        <li><a href="./restaurant.html" class="details-link">Переглянути меню</a></li>
      </ul>
    </div>
  </div>
</section>