<section class="details-hotel">
        <h2 class="details-tittle">MIMINO</h2>
        <h3 class="details-secondtittle">Готель</h3>
        <p class="details-paragraph-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
<div class="slider"></div>
        <ul class="detail-active">
<li><button type="button" class="details-btn">Забронювати столик</button></li>
<li><a href="./hotel.html" class="details-link">Переглянути ціни</a></li>
</ul>
</section>