<section class="details-hotel">
       <div class="container"><div class="text-hotel"><div class="details-hotel-text"> <h2 class="details-tittle">MIMINO</h2>
        <h3 class="details-secondtittle">Готель</h3></div>
        <p class="details-paragraph-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p></div>
        <div class="tablet-box-hotel">
                <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img srcset="./images/tab/main-page/about_hotel_bedroom_tab@1x.jpg 1x, ./images/tab/main-page/about_hotel_bedroom_tab@2x.jpg 2x" src="./images/tab/main-page/about_hotel_bedroom_tab@1x.jpg" alt="bed" width="274" height="270">
                            </div>
                          <div class="swiper-slide">
                            <img srcset="./images/tab/main-page/det_hotel_plate_tab@1x.jpg 1x, ./images/tab/main-page/det_hotel_plate_tab@2x.jpg 2x" src="./images/tab/main-page/det_hotel_plate_tab@1x.jpg" alt="meal" width="162" height="270"></div>
                          <div class="swiper-slide">
                            <img srcset="./images/tab/main-page/det_hotel_reception_tab@1x.jpg 1x, ./images/tab/main-page/det_hotel_reception_tab@2x.jpg 2x" src="./images/tab/main-page/det_hotel_reception_tab@1x.jpg" alt="reception" width="162" height="270">
                          </div>
                          <div class="swiper-slide"><img srcset="./images/tab/main-page/det_hotel_reception_tab@1x.jpg 1x, ./images/tab/main-page/det_hotel_reception_tab@2x.jpg 2x" src="./images/tab/main-page/det_hotel_reception_tab@1x.jpg" alt="reception" width="162" height="270"></div>
                        </div>
                        <div class="swiper-button-next s-button-next"></div>
                        <div class="swiper-button-prev s-button-prev"></div>
                      </div>
        <ul class="detail-active">
        <li><button type="button" class="details-btn js-open-modal" data-modal="1">Забронювати номер</button></li>
        <li><a href="./restaurant.html" class="details-link">Переглянути ціни</a></li>
        </ul></div></div>
</section>