<section class="details-hotel">
       <div class="container"><div class="text-hotel"><div class="details-hotel-text"> <h2 class="details-tittle">MIMINO</h2>
        <h3 class="details-secondtittle">Готель</h3></div>
        <p class="details-paragraph-hotel">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p></div>
        <div class="tablet-box-hotel">
          <ul class="details-images">
            <li class="details-item">
              <picture >
                <source
                    srcset="./images/desktop/main-page/det_hotel_reception_desk@2x.jpg 1x,./images/desktop/main-page/det_hotel_reception_desk@2x-1.jpg 2x"
                    media="(min-width: 1280px)," />    
                    <img src="./images/tab/main-page/det_hotel_reception_tab@1x.jpg" alt="reception"  height="270">
            </picture></li>
        <li class="details-item"><picture >
          <source
              srcset="./images/tab/main-page/det_hotel_plate_tab@1x.jpg 1x,./images/tab/main-page/det_hotel_plate_tab@2x.jpg 2x"
              media="(min-width: 1280px)," />

          <source
              srcset="./images/tab/main-page/det_hotel_plate_tab@1x.jpg 1x,./images/tab/main-page/det_hotel_plate_tab@2x.jpg 2x"
              media="(min-width: 1024px)," />

          <source
              srcset="./images/slider/mobile/main-page+/det_hotel_plate_mob@1x.jpg 1x,./images/slider/mobile/main-page+/det_hotel_plate_mob@2x.jpg 2x"
              media="(max-width: 1023px)," />

          <img src="./images/slider/mobile/main-page+/det_hotel_plate_mob@1x.jpg" alt="plate">
      </picture></li>
            <li class="details-item"><img srcset="./images/tab/main-page/about_hotel_bedroom_tab@1x.jpg 1x, ./images/tab/main-page/about_hotel_bedroom_tab@2x.jpg 2x" src="./images/tab/main-page/about_hotel_bedroom_tab@1x.jpg" alt="bed" width="274" height="270"></li>
          </ul>
          <div class="arrow-left">
            <svg width="32" height="32">
                <use href="./images/svg/sprite.svg#icon-arrow-left"></use>
            </svg>
        </div>
        <div class="arrow-right">
            <svg width="32" height="32">
                <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
        </div>
  <ul class="detail-active hotel">
  <li><button type="button" class="details-btn js-open-modal" data-modal="1">Забронювати номер</button></li>
  <li><a href="./restaurant.html" class="details-link">Переглянути ціни</a></li>
  </ul></div></div>
</section>