<section class="details-restraunt">
    <div class="details-text">
        <h2 class="details-tittle">MIMINO</h2>
        <h3 class="details-secondtittle">Ресторан</h3>
        <p class="details-paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p></div>
<div class="tablet-box"><div class="slider"></div>
<ul class="detail-active">
<li><button type="button" class="details-btn">Забронювати столик</button></li>
<li><a href="./restaurant.html" class="details-link">Переглянути меню</a></li>
</ul></div>
</section>