<!-- -------------------------HERO--------------------------- -->
      <section class="hero">
        <div class="container">
          <h1 class="hero-title">MIMINO</h1>
          <p class="hero-description">
            Ресторанно-готельний комплекс
          </p>
          <p class="hero-text">
            СМАК ЖИТТЯ 24/7
          </p>

          <div class="hero-adress-wrapper">
            <p class="hero-adress-text">
            Україна, м. Полтава,<br>
            вул. Маршала Бірюзова, 15
            </p>
            <svg class="icon-adress" width="20px" height="20px">
              <use href="/src/images/svg/sprite.svg#icon-location"></use>
            </svg>
          </div>     

          <ul class="hero-list-btn list">
            <li>
              <button type="button" class="button">
                Забронювати столик
              </button>
            </li>
            <li>
              <button type="button" class="button">
                Забронювати номер
              </button>
            </li>
          </ul>

          <ul class="hero-social-list list">
            <li class="social-link">
              <svg class="icon" width="24px" height="24px">
                <use href="/src/images/svg/sprite.svg#icon-instagram"></use>
              </svg>
            </li>
            <li class="social-link">
              <svg class="icon" width="24px" height="24px">
                <use href="/src/images/svg/sprite.svg#icon-facebook"></use>
              </svg>  
            </li>
            <li class="social-link">
              <svg class="icon" width="24px" height="24px">
                <use href="/src/images/svg/sprite.svg#icon-telegram"></use>
              </svg>  
            </li>
          </ul>
        </div>
      </section>