<!-- -------------------------HERO--------------------------- -->
      <section class="hero">
        <div class="container">
          <div class="hero-title-wrapper">
            <h1>
              <a href="/src/index.html" class="hero-title">MIMINO</a>
            </h1>
          </div>
          <p class="hero-description">
            Ресторанно-готельний комплекс
          </p>
          <p class="hero-text">
            СМАК ЖИТТЯ 24/7
          </p>

          <div class="hero-adress-btn-wrapper">
            <div class="hero-adress-wrapper">
              <p class="hero-adress-text">
              Україна, м. Полтава,<br>
              вул. Маршала Бірюзова, 15
              </p>
              <svg class="icon-adress" width="20px" height="20px">
                <use href="/src/images/svg/sprite.svg#icon-location"></use>
              </svg>
            </div>     

            <ul class="hero-list-btn list">
              <li>
                <button type="button" class="button js-open-modal" data-modal="2">
                  Забронювати столик
                </button>
              </li>
              <li>
                <button type="button" class="button js-open-modal" data-modal="1" >
                  Забронювати номер
                </button>
              </li>
            </ul>  
          </div>

          <ul class="hero-social-list list">
            <li class="hero-social-item">
              <a href="/" class="hero-social-link">
                <svg class="icon-hero" width="24px" height="24px">
                  <use href="/src/images/svg/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="hero-social-item">
              <a href="/" class="hero-social-link">
                <svg class="icon-hero" width="24px" height="24px">
                  <use href="/src/images/svg/sprite.svg#icon-facebook"></use>
                </svg>  
              </a>
            </li>
            <li class="hero-social-item">
              <a href="/" class="hero-social-link">
                <svg class="icon-hero" width="24px" height="24px">
                  <use href="/src/images/svg/sprite.svg#icon-telegram"></use>
                </svg>  
              </a>
            </li>
          </ul>
        </div>
      </section>