body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  font-family: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;

}

@media screen and (min-width: 414px) {
  .container {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
