:root {
  --logo-theme-dark: #ffffff;
  --logo-theme-light: #494848;
  --subtitle-color: #b4b4b4;
  --accent-color: #f3c653;
  --primary-text-color: #5f5f5f;
  --secondary-text-color: #7A7A7A;
  --accent-text-color: #c79002;

  --logo-font: 'Film P3';
  --main-font:'Montserrat';
  --additional-font: 'Times New Roman';
}
